@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

img {
  left: 35px;
  max-width: 35px;
  height: auto;
  text-align: center;
}
.text-inside-grid {
  position: absolute;
  left: 5px;
}
